<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Properties <fa-icon [icon]="faHouse"></fa-icon>
    </ion-title>

    <!-- Right-side button to open Add Property form -->
    <ion-buttons slot="end">
      <ion-button (click)="goToAddProperty()">
        + Add
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="properties-content">

  <!-- Centering wrapper -->
  <!-- Optional loading / error states -->
  <p *ngIf="loading" class="empty-message">Loading properties...</p>
  <p *ngIf="!loading && error" class="empty-message">{{ error }}</p>

  <ul *ngIf="!loading && !error">
    <li *ngFor="let post of data">
      <app-post [post]="post"></app-post>
    </li>
  </ul>
  <!-- <button (click)="addPost()">Add Post</button> -->
</ion-content>